.container{
   padding-top: 200px;
}
#root{
    height: 100%;
    width: 100%;
    background: url("../assets/img/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}